#
# You can modify any of this fields to your liking.
# ExecStart path must be consistent with where RRW was installed
# This means that if you changed the default location at /usr/local/bin, you must provide the modified location here too.
# 
# You must move this file to your user space where other systemd units are located. Usually this is in:
# 		$HOME/.config/systemd/user
# Once there, you can enable and run this unit by issuing two commands:
# 		systemctl enable --user rrw.service
#		systemctl start --user rrw.service
#
# Don't forget to rename this file to 'rrw.service'!!
#

[Unit]
Description=Automatic refresh rate changer for Linux based on game launched

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/rrw
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
